body {
    font-family: 'Maven Pro', sans-serif;
}

.half-stego {
    background-image: url('img/half_stego.svg');
    background-repeat: no-repeat;
    background-size: 50vw auto;
    background-position: right top;
}

@media only screen and (max-width: 500px) {
    .half-stego {
        background-image:none
    }
}

nav .navbar-nav li a {
    text-decoration: none;
    border-bottom: solid 1px transparent;
    transition: color .2s ease-out, border-bottom-color .2s ease-out;
}

nav .navbar-nav li a:hover {
    border-bottom: solid 1px #167f09;
}

.navbar-brand > #logo {
    width: 140px;
}

.btn-stego {
    color: #fff;
    background-color: #167f09;
    border-color: #167f09;
    border-radius: 20px;
}

.icon {
    position: absolute;
    width: 20px;
}

.social-logo {
    height: 64px;
}

#copy-stego {
    width: 25px;
}

.stego-green {
    color: #167f09;
}

#flag-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: white;
    padding: 0;
}

#flag-img {
    width: 40px;
    height: 40px;
}
